*.aux
*.log
*.out
*.toc
*.synctex.gz
*.pygtex
_minted*
.env
node_modules/
*.fdb_latexmk
*.fls
*.synctex(busy)
*.synctex.gz(busy)
# remove releases
# *.pdf # uncomment to keep PDF in commit
*.tex
appunti_completi.tex
*-content.tex
*.acn
*.acr
*.alg
*.bak
*.bbl
*.bcf
*.blg
*.brf
*.bst
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.nlo
*.nls
*.pyg
*.run.xml
*.snm
*.tex.backup
*.tex~
*.thm
*.vrb
*.xdy
*.xml
*blx.bib
.bak 
.mtc
build/
images/
preambolo_comune.tex